@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@layer utilities {
  .card {
    padding: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
  }
}

.div {
  @apply px-3 py-4;
}

.link {
  @apply mr-4 font-bold no-underline hover:underline;
}

.btn {
  @apply rounded border border-r-teal-800 transition-all px-5 py-2 font-bold tracking-widest text-black hover:bg-cyan-300;
}
